.stepper-group {
  @apply flex items-center w-full my-4 mx-2;
}
.stepper-line-basic {
  @apply flex w-full items-center;
}
.stepper-line-bright {
  @apply text-system-primary-100  after:content-[''] after:w-3/4 after:h-1 after:border-b after:border-white after:mt-4 after:border-4 after:inline-block after:mx-auto;
}
.stepper-line-dark {
  @apply text-system-primary-100  after:content-[''] after:w-3/4 after:h-1 after:border-b after:border-system-gray-70 after:mt-4 after:border-4 after:inline-block after:mx-auto;
}
.stepper-number-basic {
  @apply flex flex-col items-center text-h6 font-serif;
}
.stepper-number-bright {
  @apply flex items-center justify-center w-10 h-10 bg-system-primary-100 rounded-full lg:h-8 lg:w-8 text-white font-serif text-h6 shrink-0;
}
.stepper-number-dark {
  @apply flex items-center justify-center w-10 h-10 bg-transparent rounded-full border-solid border-2 border-system-gray-70 lg:h-8 lg:w-8 text-system-gray-70 font-serif text-h6 shrink-0;
}
.stepper-title-bright {
  @apply text-center mt-2 text-white;
}

.stepper-title-dark {
  @apply text-center mt-2 text-system-gray-70;
}

.tab-active {
  @apply inline-block p-4 border-b-2 border-transparent font-semibold rounded-t-lg font-serif text-system-primary-100 hover:text-system-primary-100 hover:bg-transparent relative;
}
.tab-base {
  @apply inline-block p-4 border-b-2 border-transparent font-semibold rounded-t-lg font-serif text-white hover:text-system-primary-100 hover:bg-transparent relative;
}

.tab-base:hover::after,
.tab-active::after {
  content: '';
  display: block;
  background: #bf9d7d;
  position: absolute;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  bottom: 0;
  left: 28px;
  height: 4px;
  width: 32px;
}

//更改輪播套件樣式

.primary-carousel {
  .relative .flex.absolute.bottom-5.z-30.space-x-3 button{
    @apply rounded-none h-1
  }
  .relative .flex.absolute.bottom-5.z-30.space-x-3 button.bg-white.bg-white\/50 {
  @apply bg-system-primary-40 w-8
  }
  .relative .flex.absolute.bottom-5.z-30.space-x-3 button.bg-white {
  @apply bg-system-primary-100 w-12
  }
}

.room-carousel {
  div div:first-of-type {
    @apply tablet:rounded-tl-lg tablet:rounded-bl-lg tablet:rounded-tr-none tablet:rounded-br-none tablet:h-[28rem];
  }
  div div img {
    @apply tablet:h-[28rem] tablet:rounded-tl-lg tablet:rounded-bl-lg tablet:rounded-tr-none tablet:rounded-br-none tablet:h-[28rem] mobile:rounded-t-3xl mobile:h-full;
  }
}

.room-banner-carousel{
  .relative>.overflow-hidden.relative{
    @apply 2xl:h-[800px] 2xl:py-60 mobile:h-[800px] sm:h-[800px]
  }
  .relative>.overflow-hidden.relative img{
    @apply block  mobile:h-full mobile:object-cover tablet:object-cover
  }
  .relative .flex.absolute.bottom-5.z-30.space-x-3{
    @apply z-50
  }
}

.room-banner-text{
  @apply z-50 absolute inset-0 flex lg:flex-row lg:items-center lg:justify-center mobile:flex-col mobile:justify-center tablet:justify-center mobile:items-center tablet:items-center
}

.room-banner-text-left{
  @apply lg:w-1/4 lg:mr-20 lg:text-left lg:items-start tablet:text-center tablet:flex tablet:flex-col tablet:items-center mobile:text-center mobile:flex mobile:flex-col mobile:items-center
}

.show-datepicker{
  @apply bg-white
}

//更改月曆套件樣式

.vue-datepicker.mobile{
  .flex{
    @apply flex-col
  }
  .relative.w-full .flex.justify-between.items-center{
    @apply flex-row
  }
  .grid.grid-cols-7.py-2{
    @apply hidden
  }
}

.vue-datepicker {
  .bg-white.rounded-lg.shadow-sm{
    @apply border-none
  }
  .h-full.absolute{
    div{
      @apply border-none
    }
  }
  .relative.w-full.overflow-hidden.mt-3.sm:mt-0.sm:ml-2{
    @apply hidden
  }
  .vtd-datepicker-date.relative.flex.justify-center.items-center.text-white {
    @apply rounded-full hover:rounded-full bg-black;
  }

  .flex.flex-1,.vtd-datepicker-date {
    @apply flex-row-reverse font-serif sm:font-bold;
  }
  .flex.flex-1 .leading-relaxed.rounded-md.bg-white{
    @apply font-serif sm:font-bold;
  }

  .relative.w-full.mb-3 .flex.justify-between.items-center {
    .flex-shrink-0:nth-last-of-type(1) .inline-flex button {
      // @apply hidden;
    }
    .flex.flex-1 {
      @apply flex-row-reverse;
    }
    .flex.flex-1:first-of-type button:after{
      content:'月'
    }

    .flex.flex-1:nth-last-of-type(1) button:after{
      content:'年'
    }
  }

  .relative.w-full.mt-3 .flex.justify-between.items-center:first-of-type {
    .flex-shrink-0:first-of-type .inline-flex button {
      // @apply hidden;
    }
  }
  >.flex div{
    @apply shadow-none border-none
  }
  .flex.flex-1 {
    @apply flex-row-reverse;
  }

  .flex.flex-1:first-of-type button:after{
    content:'月'
  }

  .flex.flex-1:nth-last-of-type(1) button:after{
    content:'年'
  }
}

.overlay{
  @apply fixed inset-0 bg-black bg-opacity-50 z-0
}