.stepper-group{
  @apply flex items-center w-full my-4 mx-2
}
.stepper-line-basic{
  @apply flex w-full items-center
}
.stepper-line-bright{
  @apply text-system-primary-100  after:content-[''] after:w-3/4 after:h-1 after:border-b after:border-white after:mt-4 after:border-4 after:inline-block after:mx-auto
}
.stepper-line-dark{
  @apply text-system-primary-100  after:content-[''] after:w-3/4 after:h-1 after:border-b after:border-system-gray-70 after:mt-4 after:border-4 after:inline-block after:mx-auto
}
.stepper-number-basic{
  @apply flex flex-col items-center text-h6 font-serif
}
.stepper-number-bright{
  @apply flex items-center justify-center w-10 h-10 bg-system-primary-100 rounded-full lg:h-8 lg:w-8 text-white font-serif text-h6 shrink-0 
}
.stepper-number-dark{
  @apply flex items-center justify-center w-10 h-10 bg-transparent rounded-full border-solid border-2 border-system-gray-70 lg:h-8 lg:w-8 text-system-gray-70 font-serif text-h6 shrink-0 
}
.stepper-title-bright{
  @apply text-center mt-2 text-white
}

.stepper-title-dark{
  @apply text-center mt-2 text-system-gray-70
}

.tab-active{
  @apply inline-block p-4 border-b-2 border-transparent font-semibold rounded-t-lg font-serif text-system-primary-100 hover:text-system-primary-100 hover:bg-transparent relative 
}
.tab-base{
  @apply inline-block p-4 border-b-2 border-transparent font-semibold rounded-t-lg font-serif text-white hover:text-system-primary-100 hover:bg-transparent relative 
}

.tab-base:hover::after ,.tab-active::after {
  content: "";
  display: block;
  background: #BF9D7D;
  position: absolute;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  bottom: 0;
  left: 28px;
  height: 4px;
  width: 32px;
}
